.mainHome{
    background-color: #f5f5f5;
    background-image: url("https://www.oganim-dvir.co.il/images/project_models_image1_4.jpg?1691712000022");
    height: 2336px;
    width: 100%;
    display: flex;
    flex:1;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;    
}

.firstItem{
    display: flex;
    margin-top: 6rem;
    flex: 1;
    max-height: 420px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 98%;
    border-radius: 3vh;
    background-color: rgba(124, 164, 71, 0.316);

}

.firstToSeconedBreak{
    text-decoration: none;
    display: flex;
    flex: 1;
    max-height: 10%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20vh;
    background-color: #386641;
}

.secondItem{
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 98%;
    border-radius: 3vh;
    background-color: rgb(181, 228, 140,0.8);
    margin-top: 8rem;
    max-height: 25%;
}

.imgCon{
    display: flex;
    flex: 2;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.imgCon img{
    width: 100%;
    height: 100%;
    border-radius: 3vh;
}

.textCon{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

}

.firstToSeconedBreak:hover {
    background-color: #344e41; /* Light green background on hover */
    transform: scale(1.05); /* Enlarge slightly on hover */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Increase the shadow on hover */
    transition-duration: 200ms;
  }

.firstToSeconedBreakText{
    color: #f0ead2;
}

.introVideo{
    height: 100%;
    border-width: 1cap;
    border-style: solid;
    border-color:greenyellow;
    border-radius: 3vh;
    display: flex;
    flex: 1;
    max-width: fit-content;
}

.videoDiv{
    height: 100%;
    display: flex;
    flex: 1;
    max-width: fit-content;
}




.introText{
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
}

.introText h3{
    font-size: x-large;
}


.stacked-sections {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .section {
    text-decoration: none;
    background-color: #f0f0f0; /* Light gray background */
    flex: 1;
    border-radius: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    justify-content: center;
    display: flex;
  }
  
  .section-text{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: black;
    align-items: center;
    text-align: center;
  }
  
  .section:hover {
    background-color: #9cff56; /* Light green background on hover */
    transform: scale(1.05); /* Enlarge slightly on hover */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Increase the shadow on hover */
    
  }


  @media screen and (max-width:1200px){
     #hideWhenShort{
        display: none;
    }
}

@media screen and (max-width:1000px){
    #rightIntroVideo{
        display: none;
    }
    .secondItem{
        max-height: 15%;

    }
}

@media screen and (max-width:700px){
    .secondItem{
        flex-direction: column-reverse;
        max-height: 700px;
    }
}


@media screen and (max-width:550px){

    .firstItem{
        margin-top: 3rem;
        width: 80%;
        flex-direction: column;
        max-height: 1000px;
        max-width: fit-content;
    }

    .introVideo{
        max-width: 100%;
        max-height: 100%;
        flex: 2;
    }
    .introText{
        max-width: 100%;
        max-height: 30%;
        width: 100%;
    }
}

@media screen and (max-width:450px){
    .introVideo{
        max-height: 600px;
    }
    .firstItem{
        max-height: 500px;
    }
    .secondItem{
        max-height: 450px;
    }
    .videoDiv{
        max-height: 300px;
    }
    .introText h3{
        font-size: larger;
    }
}

