.about {
    display: flex;
    flex: 1;
    background-color: aliceblue;
    align-items: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }


  .about-content {
    background-color: '#023047';
    display: flex;
    flex: 1;
    width: 100%;
    flex-direction: column;
    margin: 1rem;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;

  }
  
  .list-of-topics{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


  }

  .sub-topic {
    padding: 1rem;
    display: flex;
    flex:1;
    max-width: 160px;
    margin: 5px;
    height: 3rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    background-color: lightgreen;
    border-radius: 200px;
    text-decoration: none;
    color: #333; /* Text color */
    font-weight: bold;
    font-size: 10px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
  }
  
  .sub-topic:hover {
    background-color: #9cff56; /* Light green with a shade */
    transform: scale(1.05); /* Enlarge slightly on hover */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a subtle shadow */
  }

  #traning-scaduel{
    background-color: #a2c0a9;
    height: 300rem;
    width: 100%;
  }

  #traning-scaduel p{
    font-size: 3rem;
    text-align: center;
  }

  #customP{
    font-size: 3rem;
    text-align: center;
  }
  
  .about h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  .about h3 {
    justify-content: center;
    font-size: 1rem;

    
  }
  
  .about p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }

  .getInTouchDiv{
    display: flex;
    height: 150px;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: #386641;
    width: 100%;
}

.get-in-touch {
    margin-top: 50px; /* Adjust spacing as needed */
    text-align: center;
    width: 100%;
  }
  
  .get-in-touch h2 {
    font-size: 2rem;
  }
  
  .get-in-touch p {
    font-size: 1.2rem;
  }
  
  .social-logo {
    width: 60px; /* Adjust the size of the social logos */
    height: 60px;
    margin: 0 10px; /* Add spacing between logos */
  }

  .iframeClass{
    border-width: 2px;
    border-style: solid;
    border-color: #386641;
  }
  



    @media screen and (max-width: 700px) {
    .list-of-topics{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 20rem;
    
    
    }   
    }
  